<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Klevu\FrontendApi\Api\CustomerDataProviderInterface"
                type="Klevu\Frontend\WebApi\CustomerDataProvider"/>

    <preference for="Klevu\FrontendApi\Api\Data\CustomerDataInterface"
                type="Klevu\Frontend\Model\Customer\CustomerData"/>

    <preference for="Klevu\FrontendApi\Service\Action\SetCookieActionInterface"
                type="Klevu\Frontend\Service\Action\SetCookieAction"/>

    <preference for="Klevu\FrontendApi\Service\Provider\CookieProviderInterface"
                type="Klevu\Frontend\Service\Provider\CookieProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Cookie\CookieDurationProviderInterface"
                type="Klevu\Frontend\Service\Provider\Cookie\CookieDurationProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Cookie\CookiePathProviderInterface"
                type="Klevu\Frontend\Service\Provider\Cookie\CookiePathProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\CustomerGroupPricingEnabledProviderInterface"
                type="Klevu\Frontend\Service\Provider\CustomerGroupPricingEnabledProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Customer\CookiePropertiesProviderInterface"
                type="Klevu\Frontend\Service\Provider\Customer\CookiePropertiesProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Customer\CustomerDataEndpointProviderInterface"
                type="Klevu\Frontend\Service\Provider\Customer\CustomerDataEndpointProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Customer\CustomerDataProviderInterface"
                type="Klevu\Frontend\Service\Provider\Customer\CustomerDataProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Customer\SessionStoragePropertiesProviderInterface"
                type="Klevu\Frontend\Service\Provider\Customer\SessionStoragePropertiesProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Urls\AddToCartUrlProviderInterface"
                type="Klevu\Frontend\Service\Provider\Urls\AddToCartUrlProvider"/>

    <preference for="Klevu\FrontendApi\Service\CustomSettingsBuilderInterface"
                type="Klevu\Frontend\Service\CustomSettingsBuilder"/>

    <preference for="Klevu\FrontendApi\Service\DelayPowerUpDeterminerInterface"
                type="Klevu\Frontend\Service\DelayPowerUpDeterminer"/>

    <preference for="Klevu\FrontendApi\Service\IsEnabledDeterminerInterface"
                type="Klevu\Frontend\Service\IsEnabledDeterminer"/>

    <preference for="Klevu\FrontendApi\Service\KlevuSettingsBuilderInterface"
                type="Klevu\Frontend\Service\KlevuSettingsBuilder"/>

    <preference for="Klevu\FrontendApi\Service\Provider\CustomSettingsProviderInterface"
                type="Klevu\Frontend\Service\Provider\CustomSettingsProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Layout\RelLinkProviderInterface"
                type="Klevu\Frontend\Service\Provider\Layout\RelLinkProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\Currency\RatesProviderInterface"
                type="Klevu\Frontend\Service\Provider\Currency\RatesProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\CurrencyProviderInterface"
                type="Klevu\Frontend\Service\Provider\CurrencyProvider"/>

    <type name="Klevu\Frontend\Service\KlevuSettingsBuilder">
        <arguments>
            <argument name="serializer"
                      xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="klevuSettings" xsi:type="array">
                <item name="global" xsi:type="array">
                    <item name="apiKey" xsi:type="object">Klevu\Frontend\Service\Provider\ApiKeyProvider</item>
                    <item name="language" xsi:type="object">Klevu\Frontend\Service\Provider\LanguageProvider</item>
                </item>
            </argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\CustomerData">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Frontend\Service\Provider\ApiKeyProvider"
                 type="Klevu\Frontend\Service\Provider\SettingsProvider">
        <arguments>
            <argument name="configSettingPath"
                      xsi:type="const">Klevu\Configuration\Service\Provider\ApiKeyProvider::CONFIG_XML_PATH_JS_API_KEY</argument>
            <argument name="customSettingsPath" xsi:type="string">global.apiKey</argument>
            <argument name="returnType"
                      xsi:type="const">Klevu\Frontend\Model\Config\Source\KlevuCustomOptionsTypeSource::TYPE_VALUE_STRING</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Frontend\Service\Provider\LocaleCodeProvider"
                 type="Klevu\Frontend\Service\Provider\SettingsProvider">
        <arguments>
            <argument name="configSettingPath"
                      xsi:type="const">Magento\Config\Model\Config\Backend\Admin\Custom::XML_PATH_GENERAL_LOCALE_CODE</argument>
            <argument name="returnType"
                      xsi:type="const">Klevu\Frontend\Model\Config\Source\KlevuCustomOptionsTypeSource::TYPE_VALUE_STRING</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Frontend\Service\Provider\LanguageProvider">
        <arguments>
            <argument name="localeCodeProvider"
                      xsi:type="object">Klevu\Frontend\Service\Provider\LocaleCodeProvider</argument>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\Provider\Layout\RelLinkProvider">
        <arguments>
            <argument name="validator" xsi:type="object">Klevu\Frontend\Validator\RelLinkValidator</argument>
            <argument name="links" xsi:type="array">
                <item name="preconnect_klevu_core" xsi:type="array">
                    <item name="path" xsi:type="object">Klevu\Frontend\Service\Provider\Urls\JsUrlProvider</item>
                    <item name="type" xsi:type="string">preconnect</item>
                    <item name="is_enabled_conditions" xsi:type="array">
                        <item name="klevu_integrated"
                              xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Frontend\ViewModel\Html\Head\JsIncludesCore"
                 type="Klevu\Frontend\ViewModel\Html\Head\JsIncludes">
        <arguments>
            <argument name="jsIncludes" xsi:type="array">
                <item name="klevu_core" xsi:type="array">
                    <item name="before" xsi:type="string">-</item>
                    <item name="provider"
                          xsi:type="object">Klevu\Frontend\Service\Provider\Urls\JsUrlProvider</item>
                    <item name="path" xsi:type="string"><![CDATA[core/v2/klevu.js]]></item>
                    <item name="is_enabled_conditions" xsi:type="array">
                        <item name="klevu_integrated"
                              xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Frontend\Service\Provider\Urls\AddToCartUrlProvider">
        <arguments>
            <argument name="url" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\AddToCart">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\CurrencyConversion">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\VisibilityFilter">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\CustomerGroupSuffix">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                <item name="klevu_customer_group_price_enabled"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsCustomerGroupPriceEnabledCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\Provider\PowerUpProvider">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\CustomerGroupSuffix">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\JsSettings">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="validator" xsi:type="object">Klevu\Frontend\Validator\JsIncludesValidator</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\JsIncludes">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="validator" xsi:type="object">Klevu\Frontend\Validator\JsIncludesValidator</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Frontend\Service\Provider\LogFileNameProvider"
                 type="Klevu\Logger\Service\Provider\LogFileNameProvider">
        <arguments>
            <argument name="baseFileName" xsi:type="string">frontend.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Frontend\Service\IsLoggingEnabledService"
                 type="Klevu\Logger\Service\IsLoggingEnabledService">
        <arguments>
            <argument name="minLogLevelConfigPath"
                      xsi:type="string">klevu_frontend/developer/log_level_frontend</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Frontend\Logger\Handler\LogIfConfigured"
                 type="Klevu\Logger\Handler\LogIfConfigured">
        <arguments>
            <argument name="logFileNameProvider"
                      xsi:type="object">Klevu\Frontend\Service\Provider\LogFileNameProvider</argument>
            <argument name="loggingEnabledService"
                      xsi:type="object">Klevu\Frontend\Service\IsLoggingEnabledService</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Frontend\Logger\Logger"
                 type="Klevu\Logger\Logger\Logger"> <!-- Virtual type defined in module-m2-logger/etc/di.xml -->
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="klevu_frontend_logger"
                      xsi:type="object">Klevu\Frontend\Logger\Handler\LogIfConfigured</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Frontend\Service\CustomSettingsBuilder">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>

        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\Provider\CustomSettingsProvider">
        <arguments>
            <argument name="serializer"
                      xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Block\Adminhtml\Form\Field\TypeColumn">
        <arguments>
            <argument name="optionSource"
                      xsi:type="object">Klevu\Frontend\Model\Config\Source\KlevuCustomOptionsTypeSource</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Validator\JsIncludesValidator">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <type name="\Klevu\Frontend\Service\Provider\SettingsProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\Provider\CookieProvider">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\Action\SetCookieAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Frontend\HTTP\PhpEnvironment\RemoteAddress"
                 type="Magento\Framework\HTTP\PhpEnvironment\RemoteAddress">
        <arguments>
            <argument name="alternativeHeaders" xsi:type="array">
                <item name="http_client_id" xsi:type="string">HTTP_CLIENT_IP</item>
                <item name="http_x_forwarded_for" xsi:type="string">HTTP_X_FORWARDED_FOR</item>
                <item name="http_x_forwarded" xsi:type="string">HTTP_X_FORWARDED</item>
                <item name="http_forwarded_for" xsi:type="string">HTTP_FORWARDED_FOR</item>
                <item name="http_forwarded" xsi:type="string">HTTP_FORWARDED</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Frontend\Service\Provider\Customer\CustomerDataProvider">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="remoteAddress"
                      xsi:type="object">Klevu\Frontend\HTTP\PhpEnvironment\RemoteAddress</argument>
        </arguments>
    </type>

    <type name="Klevu\Configuration\Service\Provider\Sdk\UserAgent\PlatformUserAgentProvider">
        <arguments>
            <argument name="systemInformationProviders" xsi:type="array">
                <item name="klevu-m2-frontend" xsi:type="object">Klevu\Frontend\Service\Provider\Sdk\UserAgent\SystemInformation\FrontendProvider</item>
            </argument>
        </arguments>
    </type>

</config>
