<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="klevu_frontend"
                 translate="label"
                 sortOrder="20"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Frontend</label>
            <tab>klevu</tab>
            <resource>Klevu_FrontendApi::frontend</resource>
            <include path="Klevu_Frontend::system/frontend.xml"/>
        </section>
        <section id="klevu_developer">
            <include path="Klevu_Frontend::system/developer.xml"/>
        </section>
    </system>
</config>
